:root {
  --white-color: #ffffff;
  --background-col: #ffffff;
  --color-hover: #2196f3;
  --hero-text-color: #ffffff;
  --logo-text-col: #000000;
  --title-text-color: #212121;
  --text-color: #757575;
  --background-hero-footer-col: #2f303a;
  --background-section-col: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --button-hover-color: #188ce8;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  font-style: normal;
}

body {
  background-color: var(--background-col);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 30px;
  text-align: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu__button {
  position: absolute;
  top: 10px;
  right: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__button:hover, .mobile-menu__button:focus .mobile-menu__icon-close {
  fill: var(--color-hover);
  cursor: pointer;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: auto;
}

.mobile-nav__item {
  color: var(--title-text-color);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav__item:hover, .mobile-nav__item:focus {
  color: var(--color-hover);
  cursor: pointer;
}

.mobile-current-page {
  color: var(--color-hover);
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__tel,
.mobile-contacts__mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  display: block;
  color: var(--text-color);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contacts__tel:hover,
.mobile-contacts__mail:hover {
  color: var(--color-hover);
  cursor: pointer;
}

.mobile-contacts__tel {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  margin-bottom: 32px;
  color: var(--color-hover);
}

.mobile-links {
  display: flex;
  flex-wrap: wrap;
}

.mobile-links__btn {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  color: #2196F3;
  border: none;
  background-color: transparent;
  padding-left: 0;
  padding-right: 10px;
}

.mobile-links li:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-links li:not(:first-child) {
  padding-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  overflow-x: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  max-height: 609px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover, .close-button:focus {
  fill: var(--color-hover);
  border-color: var(--color-hover);
  cursor: pointer;
}

.icon-close {
  width: 18px;
  height: 18px;
}

.form-callback {
  padding: 40px;
  margin: 0;
}
.form-callback p {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 10px;
}
.form-field:nth-child(5) {
  margin-bottom: 20px;
}
.form-field input {
  padding-left: 40px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--text-color);
}
.form-field textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.502);
}
.form-field input:focus,
.form-field textarea:focus {
  outline: none;
  border-color: var(--color-hover);
}
.form-field label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form-name {
  position: relative;
  width: 100%;
}

.icon-field {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
input:focus ~ .icon-field {
  fill: var(--color-hover);
}

.submit-button {
  display: block;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  border-color: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-button:focus, .submit-button:hover {
  background-color: #188ce8;
  cursor: pointer;
}

.form-agree a {
  color: var(--color-hover);
  text-decoration: underline;
}
.form-agree input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.form-agree label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.form-agree label:focus,
.form-agree label:hover {
  border-color: var(--button-hover-color);
  cursor: pointer;
}

.icon-agree {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 1.5px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-agree label:focus .icon-agree, .form-agree label:hover .icon-agree {
  border-color: #188ce8;
}
input:checked ~ .icon-agree {
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-color);
}

.form-subscribe {
  display: block;
  margin-top: 36px;
}

.form-subscribe__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-subscribe__field {
  display: inline-block;
  background: var(--background-hero-footer-col);
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subs-button {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background: var(--color-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  border-color: transparent;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: inline-block;
  align-items: center;
  text-align: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subs-button:focus, .subs-button:hover {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

.subs-button__group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-hover);
  border-radius: 4px;
}

.site-nav, .contacts {
  display: none;
}

.logo__element {
  color: var(--color-hover);
}

.logo {
  color: var(--logo-text-col);
  margin-right: 93px;
}

.logo,
.logo__element {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}

.menu-button, .mobile-menu__button {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}

.menu-button:hover,
.menu-button:focus .menu-button__icon-open {
  fill: var(--color-hover);
  cursor: pointer;
}

.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.hero {
  background-color: var(--background-hero-footer-col);
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  max-width: 480px;
  margin: 0 auto;
  height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/Hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--hero-text-color);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  color: var(--hero-text-color);
  background-color: var(--color-hover);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  min-width: 200px;
  height: 50px;
  padding: 10px 24px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  font-family: inherit;
}

.buttons-block {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 8px;
  margin-bottom: 40px;
  width: 326px;
}

.button-portf {
  cursor: pointer;
  font-family: inherit;
  padding: 6px 22px;
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  border: transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portf:hover, .button-portf:focus, .button-portf:active {
  color: var(--hero-text-color);
  background-color: var(--color-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons .current {
  background-color: var(--color-hover);
  color: #ffffff;
}

.non-display {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features__title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-bottom: 10px;
  text-align: center;
}

.features li:not(:last-child) {
  margin-bottom: 30px;
}

.features__about {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.section-work {
  display: none;
}

.team {
  padding-top: 0;
  background-color: var(--background-section-col);
}

.team-case {
  display: block;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-case:not(:last-child) {
  margin-bottom: 30px;
}

.team-case__member {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  padding-top: 30px;
}

.team-case__position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
  gap: 10px;
}

.links__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links__icon:hover, .links__icon:focus {
  background-color: var(--color-hover);
  fill: var(--white-color);
}

.customers-block {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.icon-client {
  display: flex;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-client:hover, .icon-client:focus {
  fill: var(--color-hover);
  border-color: var(--color-hover);
}

@media screen and (max-width: 479px) {
  .customers-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.example-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.example-group {
  font-size: 1.88;
  font-weight: 16px;
  line-height: 1.14;
  color: var(--text-color);
}

.example-block {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.example-block li {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-block li:hover,
.example-block li:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}

.work-image {
  position: relative;
  overflow: hidden;
}

.example-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  padding: 77px 24px;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-link a:hover .example-animation,
.example-link a:focus .example-animation {
  transform: translateY(0%);
}

.footer-block {
  text-align: center;
}

.footer-section {
  background-color: var(--background-hero-footer-col);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: var(--white-color);
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}

.footer-contacts li:nth-child(-n+2) {
  margin-bottom: 9px;
}
.footer-contacts .adres {
  color: var(--white-color);
}

.footer-contacts__mail,
.footer-contacts__tel {
  color: var(--footer-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__mail:hover, .footer-contacts__mail:focus,
.footer-contacts__tel:hover,
.footer-contacts__tel:focus {
  color: var(--color-hover);
}

.footer-links__title {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.42em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-links {
  display: block;
  margin-top: 60px;
}

.foter-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.links__icon-white {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links__icon-white:hover, .links__icon-white:focus {
  background-color: var(--color-hover);
  fill: var(--white-color);
}/*# sourceMappingURL=main.css.map */