.site-nav, .contacts{
    display: none;
}

.logo__element {
    color: var(--color-hover);
}

.logo {
    color: var(--logo-text-col);
    margin-right: 93px;
}

.logo,
.logo__element {
    font-family: Raleway, sans-serif;
    @include font(700, 26px, 1.19);
}

.menu-button, .mobile-menu__button{
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
}

.menu-button:hover,
.menu-button:focus .menu-button__icon-open{
 fill:var(--color-hover);
 cursor: pointer;
}

.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header{
    padding-top: 10px;
    padding-bottom: 10px;
}

.header {
    border-bottom: 1px solid #ececec;
}

// .header {
//     padding-top: 24px;
//     padding-bottom: 24px;
// }



// .nav-block {
//     display: flex;
//     align-items: center;
// }

// .site-nav {
//  display: flex;
//  column-gap: 50px;
//     .current {
//         color: var(--color-hover);
//     }

//     li {
//         position: relative;
//     }

//     .site-nav__item {
//         color: var(--title-text-color);
//         @include font(500);
//         letter-spacing: 0.02em;
//         transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }

//     & a:hover,
//     & a:focus {
//         color: var(--color-hover);
//     }
// }

// .contacts {
//     display: flex;
//     column-gap: 50px;
//  .contacts__item {
//       display: flex;
//       align-items: center;
//       color: var(--text-color);
//       @include font (500, 14px, 1.71);
//       letter-spacing: 0.02em;
//       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
//   & a:hover,
//   & a:focus {
//     color: var(--color-hover);
//    }
// }

// .icon-envelope {
//     width: 16px;
//     height: 12px;
//     margin-right: 10px;
//     fill: currentColor;
// }

// .icon-smartphone {
//     width: 10px;
//     height: 16px;
//     margin-right: 10px;
//     fill: currentColor;
// }