.buttons-block {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 8px;
    margin-bottom: 40px;
    width: 326px;
}

.button-portf {
    cursor: pointer;
    font-family: inherit;
    padding: 6px 22px;
    color: var(--title-text-color);
    @include font(500,16px,1.63);
    text-align: center;
    border: transparent;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus,
   &:active {
        color: var(--hero-text-color);
        background-color: var(--color-hover);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.buttons .current {
    background-color: var(--color-hover);
    color: #ffffff;
}

@media screen and (min-width:768px){
    .buttons-block {
     justify-content: center;
     margin-bottom: 30px;      
     width: 100%;    
 }
}

@media screen and (min-width:1200px) {
    .buttons-block{
        margin-bottom: 34px;
    }    
}