.hero {
    background-color: var(--background-hero-footer-col);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    color: var(--hero-text-color);
    @include font(900,44px,1.36);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    color: var(--hero-text-color);
    background-color: var(--color-hover);
    @include font(700,16px,1.88);
    min-width: 216px;
    height: 50px;
    padding: 10px 32px;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
    font-family: inherit;
    padding: 6px 22px;
}