:root {
    --white-color: #ffffff;
    --background-col: #ffffff;
    --color-hover: #2196f3;
    --hero-text-color: #ffffff;
    --logo-text-col: #000000;
    --title-text-color: #212121;
    --text-color: #757575;
    --background-hero-footer-col: #2f303a;
    --background-section-col: #f5f4fa;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --button-hover-color: #188ce8;
    
}
